*{
  margin: 0;
  padding: 0;
}

.menu {
  background-color: #718387;
  padding: 12px;
}

.link{
  color: white;
  text-decoration: none;
}

.link:hover{
  color: black;
  text-decoration: underline;
}

.cabecalho{
  text-align: center;

  background-color: #98336C;
  background: linear-gradient(90deg, rgba(72, 98, 136, 0.8) 0%, rgb(152, 51, 108, 0.8) 100%), url('./img/background.jpg');
}

.titulo{
  color: white;

  padding-bottom: 40px;
}

.image{
  border: 2px solid rgb(9, 36, 66);
  border-radius: 50%;

  margin: 100px 20px 20px 20px;

  animation: animation infinite linear 10s;
}

.redes a{
  text-decoration: none;
}

.redes a img{
  padding: 20px;
}

@keyframes animation{
  0%{
    filter: none;
  }

  50%{
    filter: invert(1);
  }

  100%{
    filter: none;
  }
}